@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

html {
  background-color: #000000;
}

#navlink:hover {
  color: #5221e6;
  transition: 0.8s ease-out;
  border-radius: 3px;
  border-bottom: 1.5px #5221e6 solid;
  text-decoration: none;
}

#hero {
  background: linear-gradient(90deg, #181823 59%, #000000 41%);
}

.card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.overlay {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #232525b6;
  /* transition: all 0.3s ease-in-out; */
}

.card:hover .overlay {
  top: 0;
  transition: all 0.3s ease-in-out;
}

.overlay2 {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  /* transition: all 0.3s ease-in-out; */
}

.card:hover .overlay2 {
  bottom: 0;
  transition: all 0.5s ease-in-out;
}

.card:hover {
  transform: scale(1.03);
  transition: all 0.7s ease-in-out;
}

.arrowHover:hover .arrowHover1 {
  transform: translateY(20px);
  transition: ease 0.5s all;
  height: 80px;
}

.arrowHover:hover .arrowHover2 {
  transform: translateY(20px) rotate(90deg);
  transition: ease 0.5s all;
}

.border-gradient-purple {
  border-image-source: linear-gradient(180deg, #5221e6 0.06%, #ba42c0 99.94%);
}

.overflow::-webkit-scrollbar {
  display: none;
}

.scrollon {
  animation: carousel 20s linear infinite;
  transition: all 20s ease-in-out;
}

@keyframes carousel {
  0% {
    /* transform: translateX(0%); */
    left: 0%;
  }

  100% {
    /* transform: translateX(-100%); */
    left: -100%;
  }
}

.form {
  width: 100%;
}

.switch[data-isOn="true"] {
  justify-content: flex-end;
  background-color: darkgray;
}

#footlink:hover {
  color: green;
  text-decoration: none;
}
