@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

html {
  background-color: #000000;
}

#navlink:hover {
  color: #5221e6;
  transition: 0.8s ease-out;
  border-radius: 3px;
  border-bottom: 1.5px #5221e6 solid;
}

#footlink:hover {
  color: green;
}

#hero {
  background: linear-gradient(90deg, #181823 59%, #000000 41%);
}

.overflow::-webkit-scrollbar {
  display: none;
}

#form {
  width: 100%;
}
